.header {
    background-color: #1D2125;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navList {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navItem {
    color: #fff;
}

.brandName {
    font-size: 1.5em;
    margin-left: 0.5em;
    color: #fff;
}

.brandX a{
    color: rgb(90, 99, 224);
    text-decoration: none;
    display: inline-block;
    margin-left: 0.3em;
    font-size: 30px;
    font-weight: bold;
}

.dropdown {
    position: relative;
    width: 180px;
}

.navItemWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.navItem{
    font-size: 18px;
    color:rgb(226, 226, 226);
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownMenu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #31363b;
    padding: 10px;
    border-radius: 4px;
    z-index: 999;
    width: 180px;
    
}

.LIbtn{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    padding: 5px 0;
    transition: all 0.3s ease;
}

.LIbtn:hover{
    background-color: #555;
}

.LIbtn a{
    color:rgb(226, 226, 226);
    text-decoration: none;
}

.searchWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}