.page{
    display: flex;
    padding: 10%;
    width: 100%;
    height: 100vh;
    gap: 100px;
    background-image: linear-gradient(to right top, #b9bcdf, #c8c0e2, #d6c4e3, #e2c9e4, #eecee5, #ebd2eb, #e9d7f1, #e6dbf5, #d4e0f8, #c9e3f2, #c6e5e8, #cce4dd);
    
}

.picBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius:73% 27% 28% 72% / 56% 42% 58% 44%   ;
    background-color: #2b3036;
}

.infoList{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.infoList span{
    display: block;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border-top:1px solid  #2b3036 ;
    border-bottom: 1px solid  #2b3036;
    padding: 20px 50px;
    margin-bottom: 30px;
}

.info{
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    width: 500px;
    font-size: 24px;
    background-color:  rgb(90, 99, 224);
    color: white;
    box-shadow:rgba(90, 99, 224, 0.5) 5px 5px,   rgba(52, 62, 201, 0.4) 10px 10px,   rgba(90, 99, 224, 0.2) 15px 15px,   rgba(90, 99, 224, 0.1) 20px 20px,   rgba(90, 99, 224, 0.05) 25px 25px;;
}

