.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #1D2125;
    color: white;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.brandName {
    font-size: 1.5em;
    margin-left: 0.5em;
}

.brandX {
    color: rgb(90, 99, 224);
    display: inline-block;
    margin-left: 0.3em;
    font-size: 30px;
    font-weight: bold;
}

.button {
    margin-left: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: rgb(90, 99, 224);
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 3px;
}

.button a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}